# Example environment variables

PROJECT_NAME="Airline Ops API"
VERSION="0.1.0"

# PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/airline_ops

# Redis
REDIS_URL=redis://localhost:6379/0

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
